html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
 @font-face {
    font-family: 'Courier New TR';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url("../dompdf/lib/fonts/Courier-New-TR-Regular.ttf") format("truetype");
  }
 @font-face {
    font-family: 'Courier New TR';
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    src: url("../dompdf/lib/fonts/Courier-New-TR-Bold.ttf") format("truetype");
  }
 @font-face {
    font-family: 'Courier New TR';
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    src: url("../dompdf/lib/fonts/Courier-New-TR-Bold-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Courier New TR';
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    src: url("../dompdf/lib/fonts/Courier-New-TR-Italic.ttf") format("truetype");
  }
body{
	background-color: transparent;
	font-weight: normal;
  	color: black;
  	font-family: "Courier New TR" !important;
  	margin: 0px;
  	padding-top: 0px;
  	font-size: 10pt;
  	padding: 5mm;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 28px;
}
h5{
	font-size: 26px;
}
h6{
	font-size: 24px;
}
p{
	font-size: 14px;
}